<ion-header mode="ios" [class.show-background]="showToolbar">
  <ion-toolbar>
    <ion-back-button
      icon="arrow-back-outline"
      color="white"
      text=""
      defaultHref="/tabs/quotes"
      slot="start"
    >
    </ion-back-button>
    <ion-title class="ion-text-center">{{qoutedata.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div wrapper>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div>
          <div
            slideBox
            [ngStyle]="{'background-image': 'url('+ qoutedata.img +')'}"
          >
            <ion-icon
              name="heart"
              (click)="addToFav(qoutedata.id  )"
              [ngClass]="status ? 'active' : ''"
            ></ion-icon>
            <ion-icon name="play"></ion-icon>
          </div>
          <div quotesafter>
            <h2>{{qoutedata.quote}}</h2>
          </div>
          <div footname>{{qoutedata.name}}</div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
