/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*** Poppins Fonts ***/

@font-face {
    font-family: 'poppinslight';
    src: url('assets/fonts/poppins-light.woff2') format('woff2'),
         url('assets/fonts/poppins-light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('assets/fonts/poppins-regular.woff2') format('woff2'),
         url('assets/fonts/poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsmedium';
    src: url('assets/fonts/poppins-medium.woff2') format('woff2'),
         url('assets/fonts/poppins-medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'poppinssemibold';
    src: url('assets/fonts/poppins-semibold.woff2') format('woff2'),
         url('assets/fonts/poppins-semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('assets/fonts/poppins-bold.woff2') format('woff2'),
         url('assets/fonts/poppins-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsblack';
    src: url('assets/fonts/poppins-black.woff2') format('woff2'),
         url('assets/fonts/poppins-black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/*** End ***/

*{
    font-family: 'poppinsregular';
    --ion-default-font: "poppinsregular";
    --ion-font-family: 'Playfair Display', serif;
}

.show-background{
    background-color: var(--ion-color-primary);
    ion-toolbar{
        ion-title{
            color: #fff !important;
        }
    }
}