<ion-header [class.show-background]="showToolbar">
  <ion-toolbar>
    <ion-title class="ion-text-center">Favourite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div wrapper>
    <ion-segment mode="md" [(ngModel)]="orderstab">
      <ion-segment-button value="prayer"> Prayers </ion-segment-button>
      <ion-segment-button value="quotes"> Quotes </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="orderstab">
      <ion-list *ngSwitchCase="'prayer'" prayer>
        <ion-item
          lines="none"
          class="ion-no-padding"
          *ngFor="let item of filterFavList"
        >
          <ion-avatar (click)="removeFav(item.id)">
            <img src="assets/img/pary.png" />
            <ion-icon name="heart"></ion-icon>
          </ion-avatar>
          <div>
            <h2>{{item.title}}</h2>
            <p>{{item.name}} <span dots></span></p>
          </div>
          <ion-icon
            name="play-circle"
            routerLink="/tabs/prayer/{{item.id}}"
          ></ion-icon>
        </ion-item>

        <div nodatashow *ngIf="isShowFavList">
          <p>No Data to show</p>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'quotes'" quotes>
        <!-- <ion-item
          lines="none"
          class="ion-no-padding"
          routerLink="/tabs/quotes/quotedetails"
        >
          <ion-avatar>
            <img src="assets/img/homebg1.jpg" />
            <ion-icon name="heart"></ion-icon>
          </ion-avatar>
          <div quotesafter>
            <h2>
              Do not worry about anything, but pray and ask God for everything
              you need, always giving thanks.
            </h2>
          </div>
        </ion-item> -->

        <ion-item
          lines="none"
          class="ion-no-padding"
          *ngFor="let item of filterFavQuotesList"
        >
          <ion-avatar (click)="removeFavquotes(item.id)">
            <img src="assets/img/pary.png" />
            <ion-icon name="heart"></ion-icon>
          </ion-avatar>
          <div routerLink="/tabs/quotes/quotedetails/{{item.id}}">
            <h2>{{item.title}}</h2>
            <p>{{item.name}} <span dots></span></p>
          </div>
          <!-- <ion-icon name="play-circle"></ion-icon> -->
        </ion-item>

        <div nodatashow *ngIf="isShowList">
          <p>No Data to show</p>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
