<ion-header [class.show-background]="showToolbar">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{prayerdata?.title}}</ion-title>
    <ion-icon
      slot="end"
      (click)="addToFav(prayerdata.id)"
      [ngClass]="status ? 'active' : ''"
      name="heart"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div topWrapper>
    <h1>{{prayerdata?.quote}}</h1>
    <p>{{prayerdata?.name}}</p>
  </div>
  <div wrapper>
    <ang-music-player #audioPlayer [audioList]="audioList"></ang-music-player>
    <p>{{prayerdata?.desc}}</p>
  </div>
</ion-content>
